body,h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", sans-serif;
}

body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
  scroll-behavior: smooth;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('../img/parallax1.jpg');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("../img/parallax2.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("../img/parallax3.jpg");
  min-height: 400px;
}

/* Fourth image (Privacy Policy) */
.bgimg-4 {
  background-image: url("../img/parallax4.jpg");
  min-height: 400px;
}

/* Instagram lettering */
.instaflw {
  font-family: "Rage", cursive;
  text-decoration: none;
}

.w3-wide {
  letter-spacing: 10px;
}

.w3-hover-opacity
{
  cursor: pointer;
}

.w3-table td {
  padding: 0 10px;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 800px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
     background-attachment: scroll;
     min-height: 400px;
  }
}
